[2017-10-18 18:26] ligi opened #1 "Remove all java-dependencies"
This is more a long-term goal. But it would be nice to get rid of java-dependencies to use Kotlin-Native

[2017-10-18 19:57] ligi opened #2 "Module to handle wallets/UTC json files"

[2017-10-18 19:59] ligi opened #3 "Module to handle mnemonics"

[2017-10-28 17:36] ligi opened #4 "Bug when ERC-67 contains gas"
the value is not parsed correctly when the ERC-67 contains a value for gas

[2017-10-28 17:55] ligi opened #5 "Accepts ERC-67 with a malformed URL"
Follow up from #4 :
I think the problem of the user came from a malformed URL as tests showed that parsing ERC-67 that contains gas works
I could reproduce the problem with a malformed URL that looks like this:
ethereum:0xabc?value=100000000?gas=2030000000000000000

then in WALLETH the gas-value from is taken as value as described here:
https://www.reddit.com/r/ethereum/comments/78wj3s/erc67_suppo

[2017-10-28 17:58] #4 closed

[2017-10-28 19:23] #5 closed

[2017-11-05 11:06] ligi opened #6 "RLPx"
https://github.com/ethereum/devp2p/blob/master/rlpx.md

but talk to @fjl first as he said ad DevCon3 that some things in this doc might be miss-leading and might send one on the wrong path

[2017-11-05 11:10] ligi opened #7 "ERC-681"
At DevCon3 we finally have consensus on ERC-681 (https://github.com/ethereum/EIPs/pull/681#issuecomment-341837330) - so now we need implementations of it - at least 2 to get this thing merged. Also do not forget to ping @nagydani after implementing so he can do the interoperability test (plan so far MyEtherWallet<>WALLETH) which is the condition to get this EIP merged.

[2017-11-12 22:23] ligi opened #8 "Investigate building a JavaScript library"
Not yet sure what a good project structure for this can be - ideally someone javascript-affine has a look here - I would love the reuse of code - but I am not really a javascript kinda guy..

[2017-11-14 10:40] miohtama commented on #7
@issueth My bot friend, how does the bounty address work? The message is not self explanatory.

[2017-11-14 12:58] ligi commented on #7
@miohtama here you find some information: http://walleth.org/2017/10/18/issuETH-ethereum-issue-bounties/

[2017-11-14 18:03] #7 closed

[2017-11-18 16:29] ligi commented on #8
Relevant talk: https://www.youtube.com/watch?v=ZbANCuZ_qqw KotlinConf 2017 - What's New & Cool in Kotlin Tools by Dmitry Jemerov

[2017-11-23 11:09] YaDaniil opened #9 "Any guide about this lib?"

[2017-11-23 13:27] ligi commented on #9
Not yet - will care for documentation after 1.0 - currently this is too much in flux for that. But feel free to ask what you need to know. I think as it is broken down in small modules it should be easy to dig in. PRs for documentation are highly welcome - I am better at writing code than text for humans ..-)

[2017-11-26 13:29] ligi opened #10 "Infura connector"
can be a simple thing on top of RPC as far as I see

[2017-11-28 16:21] ligi commented on #8
Things just got more relevant: https://blog.jetbrains.com/kotlin/2017/11/kotlin-1-2-released/

[2018-01-11 17:34] mirceanis commented on #3
Hello,

I want to submit a PR for this but have a question regarding the project layout.
Handling mnemonics is basically supporting bip32 and bip39, but it also ties in to the already existing module BIP44.
IMO the best place for this new code to sit is in the `crypto` module because it involves working with some code from `Keys.kt` and `Sign.kt` but because of the above mentioned link it would al

[2018-01-11 17:51] ligi commented on #3
YAY

Did not yet look that deep into mnemonics - but I think there should be a module BIP-32 that depends on BIP-44 and crypto - don't you think this would work? Would love to avoid putting it in crypto as I like small modules - unix style

can you elaborate what you mean? I want it to be as flexible and modular as possible - if you have ideas - shoot!

[2018-01-11 17:54] mirceanis commented on #3
Thanks,
I'll add it as its own module then, with a sprinkle of changes to the other modules as needed.

[2018-01-11 17:55] ligi commented on #3
Sounds great - happy coding!-)

[2018-01-12 00:04] ligi opened #12 "Keystore support"
https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

[2018-01-14 19:33] ligi commented on #3
@mirceanis totally forgot - might also be interesting to @rmeissner and @fmrsabino - they already have a implementation with kethereum dependencies in their repo: https://github.com/gnosis/heimdall-android/tree/master/mnemonic - just not a big fan of having the wordlists in memory all the time there - but perhaps it could share some tests or ideas.

[2018-01-14 20:22] rmeissner commented on #3
Yeah, we planned to refactor and test our implementation and then also provide a PR. But of course we are happy to take another implementation ;).

Concerning dependencies to bip32/bip44: imo bip39 is only to generate a seed from a mnemonic. That seed then is used to generate the root node that you can use to derive the children nodes with bip32/bip44. We kept these in different modules in our pro

[2018-01-17 10:45] friedger opened #14 "Add model for ERC20 token transfers"
The input value of transactions of a token transfer should be parsed and stored in an accessible model with address and value

[2018-01-18 23:09] #3 closed

[2018-01-18 23:28] ligi opened #16 "Different languages for mnemonic wordlists"
In this change we should also load the wordlist when needed instead of having a listOf(words)

context: #3

[2018-01-19 09:05] rmeissner commented on #3
Currently the only open issue is to load the wordlist only when needed, right?

I would propose to make bip32 and bip39 two different modules (since bip32 is not about mnemonics).

Another question for me is what is the best way to handle spongycastle with proguard. Since some of the crypto algorithms used by bip39 are only available through spongycastle and we use a provider to load them we need

[2018-01-19 10:23] mirceanis opened #17 "Modular approach to signing"
Currently the only signing method exposed is:
`fun signMessage(message: ByteArray, keyPair: ECKeyPair): SignatureData`
which hashes the message using `keccak` and then signs the hash using the given keyPair. The signature is then canonicalized.
This method is suitable for ETH signing but that's about it.

A given set of keys can be used to sign other types of signatures and it makes sense to me to

[2018-01-20 09:24] friedger opened #18 "Clarify use of erc67 and erc681"
If I understand correctly package erc67 can be deleted

References:
https://github.com/ethereum/EIPs/issues/67
https://github.com/ethereum/EIPs/pull/681

[2018-01-21 18:42] ligi commented on #18
Let's keep it until the dust settles ;-)

[2018-01-21 18:42] #18 closed

[2018-01-21 18:43] ligi commented on #17
I agree - thanks for the thought.

[2018-01-21 18:44] ligi commented on #14
I am a bit unsure - as this is redundant information in the end - and not sure if ERC-20 should be so special. Still a bit torn about this

[2018-01-21 18:48] mirceanis commented on #17
Great
I've got some ideas and will get back with a proposal PR.
I'd like to assign myself to this but don't have enough rights.

[2018-01-21 18:53] ligi commented on #17
great - thought you should have the right to assign issues to yourself as a member of this org

[2018-01-21 18:55] mirceanis commented on #17
Thought so too, but apparently I don't

On Sun, Jan 21, 2018, 20:53 ligi <notifications@github.com> wrote:

[2018-01-21 18:56] ligi commented on #17
can you try again - might have found the problem

[2018-01-21 19:04] friedger commented on #14
With the functionParams the details for a transfer are quite accessible now.

[2018-01-21 19:04] #14 closed

[2018-01-27 17:35] #17 closed

[2018-01-27 18:11] mirceanis commented on #17
@ligi Thanks for merging
Would it be possible to make a new release with this included?

[2018-01-27 18:13] ligi commented on #17
sure thing - it is 0.37

[2018-01-28 18:31] ligi commented on #12
duplicate of #2

[2018-01-28 18:31] #12 closed

[2018-01-29 09:49] mirceanis opened #20 "Mnemonics require provider for PBKDF2withHmacSHA512"
Calling `Mnemonic` methods on android in a project that does not use `Keys` ends up crashing because of a missing provider for `PBKDF2withHmacSHA512`

I guess the tests for bip39 run on JVM pass because the JVM provider stack probably already contains one for that key derivation function.

[2018-01-29 09:50] mirceanis commented on #20
I made a short gist demonstrating the crash when run as an android instrumented test:
https://gist.github.com/mirceanis/1201ee138bc4c8576ba1faf5d13bca76

[2018-01-29 17:04] #20 closed

[2018-01-29 17:13] ligi opened #22 "Better spongyCastle initialisation / decoupling"
This is a follow-up for: https://github.com/walleth/kethereum/pull/21

There are now multiple of these blocks in kethereum:
[code]

I would really like a cleaner way of initializing spongyCastle - and ideally a decoupling from sponygCastle from kethereum so it can also be used with bouncyCastle in a JVM context where the whole spongyCastle is not needed.

One Idea:
 * create a kethereum-android mo

[2018-01-29 17:20] mirceanis commented on #22
The ContentProvider sounds like a good idea to try. Firebase does the init that way and I remember they had a few problems in the beginning.
A successful completion of this would have to account for that and avoid it.

A link to start one off: https://firebase.googleblog.com/2016/12/how-does-firebase-initialize-on-android.html

[2018-01-29 17:43] ligi commented on #22
I also do this in WallETH to decouple flavors like this: https://github.com/walleth/walleth/blob/master/app/src/withGeth/java/org/walleth/geth/GethInitContentProvider.kt

[2018-01-29 20:27] ligi commented on #22
Thinking a bit longer about this: in the end this does not need to be that clean as it will get obsolete with #1 anyway ..-)
A nice small modular Kotlin crypto lib replacing *castle would be so great!

[2018-02-01 15:49] ligi commented on #22
Was recently talking to @cketti recently and I think he is correct that the best way is not to use the providers at all but the lower bouncycastle API - so we do not need the split spongy/bouncy at all. This way we also can avoid the multiple insertProvider calls.
Perhaps when doing so we can also hide bouncycastle behind some crypto-interface so we can replace it with a pure Kotlin implementation

[2018-02-01 16:33] mirceanis commented on #22
what do you mean by `lower bouncycastle API` ?

[2018-02-01 16:50] ligi commented on #22
you can directly use the functions without going through providers. So you are sure you do not run into the problem of using varying platform implementations. Will cc you once I make the PR for it

[2018-02-20 03:21] ligi opened #23 "RLP decoder"
currently only encoding is implemented

[2018-03-08 16:31] mirceanis opened #24 "extend JsonRPC compliance"
Going through https://github.com/ethereum/wiki/wiki/JSON-RPC, there are a lot more possible methods that are missing from kethereum.
I assume the calls that already exist were added on an "as needed" basis.

More (or all) methods should be easily available through kethereum

Please contradict me if that is not the intention

[2018-03-08 16:34] ligi commented on #24
yes you assume correctly ;-)

[2018-04-03 14:09] ligi opened #25 "Handle duplicate gas or value parameter in ERC-681"
Currently when parsing a URL like

ethereum:foo?value=1&value=2

will just ignore value=1

but we should mark this URL as invalid

[2018-04-03 14:21] ligi opened #26 "erc681: Detect invalid types"

[2018-04-25 16:34] #23 closed

[2018-04-26 08:51] ligi opened #28 "Support older versions of UTC key files"
follow up from #27

[2018-05-03 03:31] klblk opened #29 "Need return wallet file name in 'generateWalletFile()'"
Otherwise, how do I know name new file?

[2018-05-03 05:50] klblk opened #30 "'generateWalletFile()' crash on Android"
Simple code:
[code]

Crash log:
[code]

[2018-05-03 08:25] ligi commented on #30
I just tried exactly this code and get no crash but a generated file as expected - can you give some more context for this error?

[2018-05-03 08:26] ligi commented on #29
Wonder why you need the FileName - I wanted to limit the exposure of the API - but perhaps this went a little bit too far there ;-)

[2018-05-03 08:40] klblk commented on #29
How do I get the file back if I do not know its name? :)

[2018-05-03 08:42] ligi commented on #29
this is my current KeyStore implementation:

[code]

but perhaps I should bring the file back - think I would return the file and not the name

[2018-05-03 08:47] klblk commented on #30
Hmm, reproduced on Android 5.1 (api 22) and Android 6.0 (api 23). But not reproduced on Android 8.0 (api 26). Test on emulators.

test project
[testWallet.zip](https://github.com/walleth/kethereum/files/1970138/testWallet.zip)

[2018-05-03 09:06] ligi commented on #30
OK can reproduce the problem now - works on emulator API 24 - crash on API 23

[2018-05-03 09:27] ligi commented on #30
OK I found a workaround - but would still love to really understand the problem - hints welcome: https://stackoverflow.com/questions/50151499/verifyerror-rejecting-class-serializer

[2018-05-03 09:51] ligi commented on #29
@klblk does 6462bf9d0351bce007b30e63c8eda271f3a350ac work for you?

[2018-05-03 11:17] #29 closed

[2018-05-03 11:17] #30 closed

[2018-05-03 11:53] klblk commented on #29
Yes, thank you

[2018-05-03 11:54] ligi commented on #29
you are very welcome - it is now that way in 0.49

[2018-05-04 13:53] ligi opened #31 "rpc: replace moshi with kotlinx serializing"
work towards #1 - still need to find a replacement for okhttp then - but as okio gets rewritten in kotlin currently - perhaps we will also see okhttp in pure kotlin

[2018-05-20 16:07] ligi opened #32 "add gradle-witness (akwizgran fork for api/implementation compatibility)"

[2018-06-04 10:29] ligi commented on #1
One step just gone in this direction is: https://github.com/walleth/sha3
hashing-wise we still need rimpemd160 and sha-256 (sha-2)

[2018-06-04 18:41] #2 closed

[2018-06-04 20:29] ligi opened #33 "Implement RIPEMD160"
Or find a pure Kotlin implementation. This is a step towards #1

This is a good starting-point:
 * https://homes.esat.kuleuven.be/~bosselae/ripemd/rmd160.txt
 * http://homes.esat.kuleuven.be/~bosselae/ripemd160.html
 * https://rosettacode.org/wiki/RIPEMD-160

Bounty acceptance criteria:
 * must pass the test-vectors from http://homes.esat.kuleuven.be/~bosselae/ripemd160.html
 * must be pure Kotlin

[2018-06-04 20:38] ligi opened #34 "Kotlin SHA2 / SHA256 Implementation"
Or find a pure Kotlin implementation - work towards #1

Helpful resources:

 * https://rosettacode.org/wiki/SHA-256
 * https://en.wikipedia.org/wiki/SHA-256
 * http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.180-4.pdf

[2018-06-04 21:22] ligi commented on #32
Maybe wait with this - as this: https://github.com/gradle/gradle/issues/5633 would be a much nicer option

[2018-06-06 12:11] #33 closed

[2018-06-20 17:23] atoulme commented on #34
Would you be interested in https://github.com/consensys/cava and particularly https://consensys.github.io/cava/docs/java/latest/ ?

[2018-06-20 17:24] atoulme commented on #6
How about using our lib for RLP here: https://github.com/ConsenSys/cava/tree/master/rlp ?

[2018-08-05 12:02] ligi opened #36 "Update to kotlin 1.2.60"
Unfortunately we have to wait for https://github.com/Kotlin/kotlinx.serialization/issues/185

[2018-08-05 14:58] ligi opened #37 "Support more languages for bip39"
wordlists can be found here: https://github.com/bitcoin/bips/tree/master/bip-0039 - prepared by decoupling wordlist from bip39 module via d68326924b9d19fdd6df9279b08b993685adba6e

[2018-08-07 19:51] hshar7 commented on #9
No documentation until a stable release is fine but not even a simple get started guide in the readme? Also any idea when 1.0 is happening?

[2018-08-07 19:55] ligi commented on #9
thanks for the question. I recently started with one module

https://github.com/walleth/kethereum/tree/master/erc55 - see the README there

Also exploring https://github.com/JetBrains/kotlin-web-demo currently as I think this might be a great way to document - unfortunately facing some problems currently - some get solved https://github.com/JetBrains/kotlin-web-demo/pull/55 - one still outstanding

[2018-08-08 18:38] hshar7 commented on #9
Please add something like that to the RPC module. It's the entry point for most people and it's where I am getting started with.

[2018-08-08 18:52] hshar7 opened #38 "Have to set lenient on JsonReader for RPC"
I am trying to connect to a basic auth web3 node. If basic auth fails, it returns back non-json text to say that you're not authenticated..
You have to set leninet = true for moshi to  be able to return this text back without the client failing. Or perhaps check if it's json, if not jsonify it before handing it to moshi?
[code]

[2018-08-08 19:08] ligi commented on #38
Thanks for the feedback - but not sure if this would be a good approach as this is still not json then.  lenient will not help much in this case as far as I see

[2018-08-08 19:37] hshar7 commented on #38
Any other idea on how to solve the issue? Most basic auth systems do not return json.

[2018-08-08 19:39] ligi commented on #38
I think it should throw an exception - perhaps it should be a different exception though. Like NotAuthenticatedException.
So I think the solution would be to check if the code is != 200 -> and if it is unauthenticated -> throw this error

[2018-08-13 22:33] ligi commented on #38
@hshar7 is your service exposed publicly by any chance? would love to test against the real problem ;-)

[2018-08-13 22:52] #36 closed

[2018-08-15 22:02] hshar7 commented on #38
@ligi Sure please do! It isn't exposed publicly but you can can your own instance at https://kaleido.io/
it's really easy to create one. Let me know if you have any questions!

[2018-08-25 20:31] ligi commented on #28
Link to relevant documentation: https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

[2018-08-27 14:19] ligi opened #40 "Migrate to Junit 5"

[2018-08-31 20:26] ligi commented on #34
yes

[2018-08-31 20:26] #34 closed

[2018-10-01 19:06] ligi opened #42 "Inline classess when switching to 1.3"
Kotlin 1.3 is around the corner - when we switch to 1.3 the following classes should be declared inline:

 * [x] MnemonicWords in MnemonicWords.kt
 * [x] PrivateKey in ECKeyPair
 * [x] PublicKey in ECKeyPair
 * [x] XPriv bip32.model
 * [x] Seed bip32.model
 * [ ] EthereumABI
 * [ ] TextMethodSignature
 * [x] HexMethodSignature

also remove the equals/toString/hashCode from there then

[2018-10-02 07:30] ligi opened #43 "Dokka configuration"
Dokka in a multi-module setup has some challenges. I found no solution I really liked so far. One solution I saw was to create a documentation meta-module that depends on all other modules. Another option I saw is to aggregate all source directories over all modules. But all of these methods have drawbacks as far as I see.

Acceptance criteria:
 - all modules are documented
 - user sees which meth

[2018-10-02 17:02] ligi opened #44 "Decouple/Replace SpongyCastle"
Ideally SpongyCastle should be gone completely to allow multi-platform use cases in the future and work towards #1 . But I did not yet find a replacement library in Kotlin for it. I think it might be possible to extract and convert the needed functions from SpongyCastle - but this needs to be audited. So it also needs to be decoupled. This way users can stick to the well-tried SpongyCastle until t

[2018-10-29 21:44] ligi commented on #42
Yay - 1.3 was just released - but will wait with moving to it until after DevCon

[2018-11-04 20:13] rmeissner commented on #44
Update on my plan:
1. Remove all spongycastle dependencies (except for crypto module)
1. Fix errors by extracting everything into custom classes in the crypto module
1. Move all spongycastle specific extensions from the crypto module to a crypto_spongy module

This would allow that in the future you have another crpyto_ module that implements all the spongy stuff in pure kotlin

[2018-11-05 11:29] ligi commented on #44
Sounds great! Looking forward to it.

[2018-11-05 15:24] ligi opened #45 "Inline EthereumABI"
https://youtrack.jetbrains.com/issue/KT-28010

[2018-11-05 16:34] rmeissner commented on #44
@ligi should I also move all `javax.crypto` to that abstraction layer?

[2018-11-05 17:42] #42 closed

[2018-11-08 08:33] #45 closed

[2018-11-08 08:57] #44 closed

[2018-11-08 19:28] ceresstation commented on #44
@rmeissner let me know if you want to do https://gitcoin.co/issue/walleth/kethereum/43 as well, happy to pay a tip :p

[2018-11-08 22:49] rmeissner commented on #44
@ceresstation I am generally interested in the topic, not sure if I will be able to pick it up soon (next 2 weeks) I will let you know ;)

[2018-11-18 17:11] ligi commented on #40
closed by #47

[2018-11-18 17:11] #40 closed

[2018-12-03 00:47] generalpiston opened #48 "Prefixed signature support"
`eth_sign`: https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign. Signatures derived from `eth_sign` should take on this form: `sign(keccak256("\x19Ethereum Signed Message:\n" + len(message) + message)))`. Seems like something wallet providers should handle.

[2018-12-03 00:56] ligi commented on #48
can you elaborate a bit more what you propose?

[2018-12-13 13:38] jolestar opened #49 "int to RLP mismatching with RLP to int"
[code]
output:
[code]

[2018-12-13 13:40] ligi commented on #49
Thanks for the report! Will try to have a look today

[2018-12-13 13:58] ligi commented on #49
I can confirm this bug and have a fix. Will add your int to the test-vectors. Thanks so much for reporting!!

[2018-12-13 14:07] #49 closed

[2018-12-13 14:08] ligi commented on #49
Fixed in v0.66 - thanks so much for the quality bug report - love reports that contain a test!

[2018-12-17 16:50] jolestar opened #50 "BigInteger RLP bug"
[code]

[code]
same as #49

[2018-12-17 19:03] ligi commented on #50
Thanks for reporting!

[2018-12-18 17:06] ligi commented on #50
@jolestar unfortunately this issue is nothing like #49 - actually it is a huge time sink and I fear I will not have time for it this year anymore. Is this issue blocking you somehow?

[2018-12-19 04:08] jolestar commented on #50
@ligi thanks，I will try to fix it first. Can you provide some suggestions for fixing it?

[2018-12-27 02:04] jolestar commented on #50
@ligi use UnsignedBigInteger can fix this bug.

`fun RLPElement.toLongFromRLP(): Long = this.toUnsignedBigIntegerFromRLP().toLong()`

[2018-12-27 18:10] ligi commented on #50
thanks for the follow-up. Yea unsigned solves the problem - but still not yet sure how a good fix looks like. Perhaps just allowing unsigned ..
So I would propose this:
[code]

what do you think?

[2018-12-27 22:53] ligi commented on #50
I think I will go this way for now. So it is more correct - but we loose one feature for now. Did not yet find a way to support signed bigintegers - happy about ideas there.

[2018-12-28 01:36] #50 closed

[2018-12-28 01:37] ligi commented on #48
closing this for now - please reopen with a more clear description what you have in mind here

[2018-12-28 01:37] #48 closed

[2018-12-29 05:04] generalpiston commented on #48
I had to add it myself in https://github.com/sigillabs/mobidex/blob/3dcd0783c5743268d795a3d8e6f069ad0c229c7e/android/app/src/main/java/io/mobidex/WalletManagerModule.java#L397.

There are two ways that would work:
1. Add the message to https://github.com/walleth/kethereum/blob/master/crypto/src/main/kotlin/org/kethereum/crypto/Sign.kt#L30 ?
2. Add a new method `ECKeyPair` called `signMessageWithPr

[2018-12-29 21:28] ligi opened #51 "EIP191 module"
this is the follow up of https://github.com/walleth/kethereum/issues/48#issuecomment-450466181

implement a module for [EIP191](https://github.com/ethereum/EIPs/issues/191)

cc @generalpiston

[2018-12-29 22:50] generalpiston commented on #48
Perfect! Thank you!

[2019-01-02 15:41] #51 closed

[2019-01-02 15:44] ligi commented on #51
@generalpiston - it is now released with 0.67

[2019-01-02 19:01] generalpiston commented on #51
Thank you!

[2019-01-07 08:43] jolestar opened #52 "RLP zero should be 0x80"
org/kethereum/functions/rlp/RLPTestData.kt
[code]
but https://github.com/ethereum/tests/blob/develop/RLPTests/rlptest.json

[code]

[2019-01-07 08:46] ligi commented on #52
Thanks for the report! But this is quite strange there - an emptystring resolves to the same as

[code]

[code]

will investigate

[2019-01-07 08:54] jolestar commented on #52
[code]
empty string and zero both startWith 0x80

[2019-01-07 10:30] ligi commented on #52
thanks - yes for empty string we agree on 0x80 - but I am still puzzled about zero as:

/*
     * For a single byte whose value is in the [0x00, 0x7f] range, that byte is
     * its own RLP encoding.
     */

that would mean 0 -> 0x00

[2019-01-07 11:30] ligi commented on #52
Interestingly parity and web3j also resolves it to 0x00 --->

https://github.com/paritytech/parity-common/blob/master/rlp/tests/tests.rs#L237

and

https://github.com/web3j/web3j/blob/master/rlp/src/test/java/org/web3j/rlp/RlpEncoderTest.java#L70

[2019-01-07 12:38] #52 closed

[2019-01-07 12:56] ligi commented on #52
Thanks for pointing this out @jolestar - it is fixed in 0.68

[2019-01-07 13:00] jolestar opened #53 "RLP encode and decode zero bytes bug"
[code]

[code]

[2019-01-07 13:53] #53 closed

[2019-01-08 23:47] ceresstation commented on #43
Hey @g-laz77 you're good to go as long as you're confident you can complete the issue and can make WIP PRs regularly :)

[2019-01-10 01:45] ligi commented on #52
some more context to this issue: https://github.com/ethereum/tests/pull/485

[2019-01-10 20:39] ligi commented on #43
@g-laz77 - would be happy if you start with this. I think this can be a good task to dive in - but only @ceresstation can approve you

[2019-01-10 20:40] ceresstation commented on #43
Hey @g-laz77 just wanted to follow up on this, still interested?

[2019-01-23 21:48] ychescale9 opened #55 "Changelog for releases?"
Hi @ligi would it be possible to have a `CHANGELOG.md` or a short description of changes for each release?

[2019-01-23 21:50] ligi commented on #55
thanks for the suggestion - but I think I will not be able to do this before v1.0 - I just do not have the man-power for it. But contributions welcome!

[2019-01-23 21:50] #55 closed

[2019-01-24 17:30] g-laz77 commented on #43
Sorry for the late response. I was busy with university work. So I am still understanding the kotlin Ethereum library. I am now gonna next make the setup for ank on my local system.

[2019-01-24 17:34] ligi commented on #43
@g-laz77 thanks for the follow-up - let me know when you have questions!

[2019-01-25 22:57] esaulpaugh opened #56 "high-throughput ABI & RLP (enhancement)"
ABI: full signature parsing. has tunable fuzz test.

RLP: supports types including floating point, chars, booleans, negative integers. has (parsable) json-like RLP object notation. on-demand iterator-based decoding interface

Apache 2.0

https://github.com/esaulpaugh/headlong

[2019-01-28 16:16] ligi commented on #56
Thanks for the link - but I am not sure what the action item for KEthereum here is - can you ealborate?

[2019-01-28 16:33] esaulpaugh commented on #56
My project recently became available in maven central and it seemed to fit with the general concept of KEthereum, so I was thinking it might be useful if it was added as a dependency so that its API would be available to end-users of KEthereum and/or that it could be later integrated into existing KEthereum functionality. If not, any feedback about it would still be very useful for me.

[2019-01-28 16:40] ligi commented on #56
Thanks - I will have a look at the project. But I really do not want to add it as a dependency as it would be a regression regarding #1 - so I am closing this issue now

[2019-01-28 16:40] #56 closed

[2019-02-23 08:43] g-laz77 commented on #43
Could I get an example or elaborate details of the acceptance criteria so that I could have a better picture of what is expected? @ligi

[2019-02-23 11:02] RiccardoM opened #58 "Program type already present: org.kethereum.crypto.impl.ec.EllipticCurve"
## Description
While try running some instrumented tests (or running the application), I run into an exception during the build.

I'm trying running the application on a Nexus 5 API 28 image without Google Play Services.

### Reproduce
1. Start a fresh new Android Studio project
2. Include Kethereum as an `implementation` dependency
3. Try starting the application

### Solutions tried
* Re-startin

[2019-02-23 11:41] ligi commented on #58
the problem comes from the ability of kethereum to support spongycastle and bouncycastle. You cannot depend on both. And you do not want to include all modules anyway - just the ones you use.

so you do something like this:

[code]

the last line is the most important for you. Hers bouncycastle is used.

[2019-02-23 11:41] #58 closed

[2019-02-23 11:51] RiccardoM commented on #58
@ligi I think this indication might be useful to future users too. Would you mind including this inside the README file?

Also, what about creating something like a `core` module that includes all those dependencies and not the crypto implementations (that must be chosen by the users)?

[2019-02-23 12:09] ligi commented on #58
yea - should really include this in the readme - but as always time is the limiting factor - btw. PR's welcome ,-)

What would you add to core? Not really sure about this tbh. - I think apps should only depend on what they use.

[2019-02-23 12:43] RiccardoM commented on #58
I will try and write some documentation, while I work with this library.

About the core module, you're probably right, it does not make much sense.

[2019-02-23 13:47] ligi commented on #43
Not sure what you expect.

[2019-02-25 10:05] #37 closed

[2019-03-04 23:19] iikirilov opened #60 "trie module"
Perhaps you can recommend a jvm implementation apart from the one in Pantheon?

[2019-03-04 23:27] ligi commented on #60
Sorry - I can't

[2019-03-11 06:11] RiccardoM opened #61 "Crypto API Multiplatform"
Currently inside the `crypto_api` package we find the following piece of code:

[code]

While this works for JVM based project, I am not sure it will work on multiplatform projects too.

I think, but I might be wrong, that we could replace the `loadClass` method with the [`actual/expected` mechanism](https://kotlinlang.org/docs/reference/platform-specific-declarations.html) allowing this library t

[2019-03-11 08:02] ligi commented on #61
That's a good point. Would totally accept a PR with this change.

[2019-03-11 08:23] RiccardoM opened #62 "Multiplatform setup"
Currently the project heavily depends on some methods that are available only on the JVM platform.

For example, we can see the usage of `System.arrayCopy` method used in a lot of places, as well as `String.toCharArray` and other JVM-only methods.

I think it would be great to set up the whole project to ne multiplatform ready, allowing us to delegate the implementation of such methods inside the

[2019-03-11 09:38] ligi commented on #62
Unfortunately I do not yet have much experiences with multiplatform - and also currently not much time to dig into this. That said I would be happy if KEthereum gets multi-platform friendly. Ideally this is done by someone that uses KEthereum for multi-platform. I currently only use KEthereum for Android and console JVM projects.

[2019-03-13 10:24] RiccardoM commented on #62
@ligi I think we should stop the development of new features until this issue is closed properly. Can we look at the PR and see if everything is fine/fix the remaining problems?

[2019-04-26 09:59] mirceanis opened #65 "use KHash instead of `org.walleth.sha3`"
[KHash](https://github.com/komputing/KHash) provides implementations for some (if not all) of the hashing methods needed by KEthereum.
Dependencies on any legacy hashing methods should be replaced with KHash.

Using KHash in combination with KEthereum in the same project can create duplicate class conflicts with the current latest versions (0.8 & 0.75.0)

If there is a reason for not using KHash (

[2019-04-26 12:27] ligi commented on #65
Yes - you are right - this should be done. Just did not yet get around to it - but it was the plan when creating KHash

[2019-05-06 11:01] #65 closed

[2019-05-08 03:10] araa47 commented on #9
@ligi what's the current status with this project? Are we gonna get v1 docs anytime soon?

[2019-05-08 11:01] ligi commented on #9
Status or this project is good - it is used by several other projects and in active development. Unfortunately the status for the docs is not that good - I was putting out a gitcoin bounty for it but it did not gain traction. Contributions in this direction are welcome.

[2019-05-29 07:49] mahdi13 opened #67 "Testnet support in bip32"
https://github.com/komputing/KEthereum/blob/3b69fde6d80ef6e80a632b756a93d5def5998179/bip32/src/main/kotlin/org/kethereum/bip32/model/Constants.kt#L10

The Testnet network could be supported in bip32's ExtendedKey deserialization:
[code]

And it could be considered in `XPriv.toExtendedKey()` method:
[code]

[2019-05-29 07:53] ligi commented on #67
Thanks for the feedback. Pull requests are welcome. I think this is only relevant for Bitcoin right?

[2019-05-29 08:22] mahdi13 commented on #67
Sure, I'll work on it.
Yes, It's related to Bitcoin. But the `Version Byte` is part of the bip-0032 proposal.

[2019-05-29 08:39] ligi commented on #67
great - looking forward to your PR

[2019-05-29 10:04] mahdi13 commented on #67
I tried my best in #68 , sorry for any mistakes in advanced.

[2019-05-30 16:27] #67 closed

[2019-09-10 16:47] friedger opened #70 "Add implementation for ECIES"
I saw an implementation at https://github.com/colendi-project/Colendi-ECIES It is very specific to bouncy castle.

Use case for ECIES would be for example encrypted messages in transactions.

[2019-09-11 14:11] ligi commented on #70
thanks for the suggestion

[2019-09-17 10:29] mitfik opened #71 "Could not find org.kbignumbers:kbignumbers-jvm:1.0.0-RC1."
When trying to use

    implementation 'com.github.komputing:KEthereum:0.76.1'

In Android Studio getting error:

Seems like there is no 1.0.0-RC2 build on jitpack yet. Any plans to get it there? And in meantime is there any workaround for that issue?

[2019-09-19 12:23] ligi commented on #71
Sorry - but I cannot reproduce your problem. Can you share your whole project? There seems to be a dependency on org.kbignumbers which will not exist and I do not see it anywhere in KEthereum

[2019-09-20 12:07] friedger opened #72 "Use lower case dependencies in build gradle files"
When importing uport-project/kotlin-did-jwt and a library of komputing in my project I see errors like this:
[code]
All dependencies should be lower case to avoid any confusion.

[2019-09-20 12:21] friedger commented on #71
It is in here: https://github.com/komputing/KHash/blob/b36db9ec3830ecabdd07ca22053e2c0330780876/keccak/build.gradle

[2019-09-26 07:27] ligi commented on #71
thanks! @RiccardoM can you have a look? this seems to be rooted in the multi-platform change

[2019-09-26 07:50] #72 closed

[2019-10-25 09:54] ligi opened #75 "Add tink crypto implementation"
when this issue is closed: https://github.com/google/tink/issues/146

we could use a crypto_tink implementation - this could also help multi-platform support

[2019-11-11 11:36] #71 closed

[2019-11-13 08:15] ligi opened #76 "add eip-634 module"

[2019-12-05 08:26] ligi opened #77 "Remove EthereumRPCScaffold workaround"
we have an ugly workaround now in the test-code (in EthereumRPCScaffold.kt and TheENS.kt)
because of this:
https://github.com/mockk/mockk/issues/152

once this bug is fixed we can remove the workaround

[2019-12-17 15:11] seniorjoinu opened #78 "Does this cool piece of software supports ABIEncoderV2?"
Hello there!
If I use ABIEncoderV2, will this library generate correct data classes for me?

[2019-12-17 18:51] ligi commented on #78
Unfortunately not yet - PRs welcome ;-)

[2019-12-20 10:28] rmeissner opened #79 "ERC-681 does not support ERC-67"
As far as I understand https://eips.ethereum.org/EIPS/eip-831 EIP-681 should be backward compatible with ERC-67. Assuming the last state of https://github.com/ethereum/EIPs/issues/67 then it is possible to add raw hex data for a transaction via the `data` param. This is not supported by the EIP-681 implementation of kethereum (everything is put into function params). I tried generating a  ERC-67 u

[2020-01-26 14:42] juli opened #80 "Support EIP-1191"
KEthereum is used to automatically check files submitted to [ethereum-lists tokens](https://github.com/ethereum-lists/tokens/)

[EIP-1191](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1191.md) addresses are [rejected](https://github.com/ethereum-lists/tokens/blob/master/src/main/kotlin/org/ethereum/lists/tokens/TokenChecker.kt#L32) by the ethereum-lists CI scripts.

Adding EIP-1191 suppor

[2020-01-30 11:18] JackBekket opened #81 "Documentation?"
Could someone provide a link to documentation?

[2020-02-04 14:52] ligi commented on #81
thanks for the question - but closing as it is a duplicate of #9

[2020-02-04 14:52] #81 closed

[2020-02-07 13:30] ligi commented on #9
There is now a little bit more documentation - started with an overview over the modules in the README:
https://github.com/komputing/KEthereum/blob/master/README.md
and will then try to add documentation for the modules step by step.

[2020-03-20 14:57] ligi opened #84 "Support EIP-1577"

[2020-04-09 07:23] ligi commented on #80
closed via #85

[2020-04-09 07:23] #80 closed

[2020-04-13 08:01] Neustradamus opened #86 "For more security spongycastle -> bouncycastle"
For more security, can you change old spongycastle (based on old bouncycastle) to bouncycastle?
- https://www.bouncycastle.org/
- https://www.bouncycastle.org/releasenotes.html
- http://www.bouncycastle.org/latest_releases.html
- https://www.cvedetails.com/vulnerability-list/vendor_id-7637/Bouncycastle.html

[2020-04-13 14:35] ligi commented on #86
both are supported. See the module https://github.com/komputing/KEthereum/tree/master/crypto_impl_bouncycastle

[2020-04-14 01:39] Neustradamus commented on #86
@ligi: Thanks for your comment!
Currently Bouncy Castle last version is 1.65 and Spongy Castle last version is 1.58.
Spongy Castle is a fork of Bouncy Castle.
Please look previous links :)

Since several years, a lot of projects have already moved from Spongy Castle to Bouncy Castle because the project is dead.

You can see discussion "34" in https://github.com/rtyley/spongycastle/issues.

Please

[2020-04-14 01:51] ligi commented on #86
I am not sure this is possible. AFAIK for Android I need to use spongycastle as bouncycastle clashes with the platform implementation.

[2020-04-14 02:59] Neustradamus commented on #86
@ligi: No, it is used by several projects.

[2020-04-14 03:22] ligi commented on #86
@Neustradamus do you know since which minSDK? Pretty sure there are phones out there that need the use of spongycastle

[2020-04-14 05:10] Neustradamus commented on #86
@ligi: Can you see on the old SC issue?
And you can ask on it if you have not the answer ^^

[2020-04-14 05:16] ligi commented on #86
There are older android versions where this is still an issue as far as I see. So I think I will not remove SC - perhaps make more clear in the README that it should not be used - only if you need to target old android versions. But I see no reason (yet) I need to remove it.

[2020-04-14 06:58] Neustradamus commented on #86
@ligi: The change has been done for what Android SDK?

You will be in a list about not secured projects :/

[2020-04-14 07:53] Neustradamus commented on #86
@ligi: It is since Android Ice Cream Sandwich (Honeycomb was not open-source):
- https://source.android.com/setup/start/build-numbers
Ice Cream Sandwich | 4.0.1 - 4.0.2 | API level 14, NDK 7

com.android.org.bouncycastle
http://androidxref.com/4.0.3_r1/search?q=com.android.org.bouncycastle&defs=&refs=&path=&hist=&project=abi&project=bionic&project=bootable&project=build&project=cts&project=dalvik&

[2020-04-14 10:17] ligi commented on #86
? you can use bouncycastle if you want - so this does not really make sense IMHO

[2020-04-14 10:21] Neustradamus commented on #86
About CVE in Spongy Castle ;)

[2020-04-14 10:23] ligi commented on #86
? can you give me a URL? You really make no sense IMHO

[2020-04-14 10:58] Neustradamus commented on #86
@ligi: It is here: https://github.com/komputing/KEthereum/issues/86#issue-598739026

[2020-04-14 10:59] ligi commented on #86
you can use bouncycastle. The spongycasle module is only an option if you need to target old android versions.

[2020-04-20 03:40] #86 closed

[2020-04-20 06:52] ligi commented on #86
spongycastle is an option for targeting old android devices
there is now a warning it should only be used for this use-case

[2020-04-20 07:22] Neustradamus commented on #86
@ligi: For Android =< 3.0, always used for you?

[2020-04-20 07:24] ligi commented on #86
no
and why always?

[2020-04-20 07:30] Neustradamus commented on #86
You have replied, you can remove Spongy Castle from the code :)
Bouncy Castle works with all Android versions > 3.0.

[2020-04-20 07:32] ligi commented on #86
no - this library might be used to target Android versions <= 3 - I do not see a reason to prevent this by removing the *option*

[2020-06-10 08:39] rockfridrich commented on #78
Hey @ligi!
Any updates on this? We struggle to make [defi-sdk ](https://github.com/zeriontech/defi-sdk) works with our [Android app](https://play.google.com/store/apps/details?id=io.zerion.android&hl=ru)

[2020-06-10 08:44] ligi commented on #78
Sorry - I do not have the time to do this currently - but as said above - PRs welcome. I would take the time to review and merge PRs implementing this. But the implementation will not come from me in the next time.

[2020-06-17 06:34] ligi opened #88 "Make compatible with gradle 6.5"
with gradle 6.5 some tests are failing - seems to have to do with resource loading

[2020-06-18 14:22] mudgen opened #89 "Support for Diamonds"
It would be great if KEthereum provided support for deploying and upgrading diamonds. The Diamond Standard is here: https://github.com/ethereum/EIPs/issues/2535

"A diamond is a set of contracts that can access the same storage variables and share the same Ethereum address."

Here is an example of a tool (in Python) that helps manage diamonds: https://github.com/lampshade9909/DiamondSetter

Blog p

[2020-07-03 11:53] chrishobcroft opened #92 "zksync Support"
# Introduction

This issue proposes to add support for integrating with [zksync](https://zksync.io) - to provide ways for Kotlin application to reduce the costs of moving Ethereum-based assets.

# Context

![image](https://user-images.githubusercontent.com/2212651/86465443-3f487280-bd4f-11ea-8f2b-06ab4785a349.png)

High gas prices have sparked an increased focus on the use of alternative ways to m

[2020-08-21 04:13] ligi opened #93 "Migrate to Kotlin 1.4.0"
we need to wait until a mockk version build against 1.4.0 is released

[2020-08-24 10:52] Vergil333 opened #94 "NoSuchMethodError for ECKeyPair.getPrivateKey"
Hello everyone,

I'm not able to get a private key from ECKeyPair. Error:
`java.lang.NoSuchMethodError: 'java.math.BigInteger org.kethereum.model.ECKeyPair.getPrivateKey-V6oYYD4()'`

Test to replicate an error:
[code]
When I manually copied all the necessary code from KEthereum (550 lines of code), I had no error (but hex string did not match, "0xcfa..." instead of "0x0cfa...").

[2020-08-24 10:59] ligi commented on #94
can you show me your gradle file?

[2020-08-24 17:35] Vergil333 commented on #94
Hi ligi, I'm using Maven's pom.xml file. The issue is that I was installing all the komputing dependencies manually with mvn. It's strange. Now I added jitpack.io repository and I left the maven to download repositories by itself and the issue is gone. Sorry for trouble.

[2020-08-24 17:35] #94 closed

[2020-08-24 17:37] ligi commented on #94
thanks for the update - if there is anything in KEthereum I should change to address the issue LMK

[2020-10-02 11:14] ligi commented on #93
the problem is failing tests in ENS:

[code]

[2020-10-02 11:23] ligi commented on #93
seems invokations are counted twice - stepping through the code did not show they where done twice. Maybe relevant https://github.com/mockk/mockk/issues/478

[2021-01-09 22:19] ligi opened #95 "Enable Explicit API mode"
https://kotlinlang.org/docs/reference/whatsnew14.html#explicit-api-mode-for-library-authors

[2021-02-14 11:32] ligi opened #99 "Add web3j testcases for ERC712"

[2021-02-21 02:52] fullkomnun commented on #75
There's also an open issue for kotlin multiplatform support: [google/tink#177](https://github.com/google/tink/issues/177)

[2021-03-08 10:37] Abhimanyu121 commented on #88
Hey, my build is failing most likely because of the same issue.

[code]
This is in the logs, would it be possible for you to suggest some workaround?
I am using gradle 6.5.

[2021-05-08 11:21] ligi opened #101 "Support EIP1559"

[2021-05-13 20:39] ligi opened #102 "Remove networking from TheMetaDataRepo tests"
currently these test do network calls and fails if the host does not answer - networking should be mocked

[2021-06-23 00:56] Arachnid opened #103 "ENS support shouldn't use a whitelist"
Currently ENS support uses a whitelist of ENS TLDs. However, we plan to expand ENS support to many new DNS-based TLDs in the future, and whitelisting is impractical.

A better solution would be to simply try resolving any name containing a dot - if it resolves, it's a valid ENS name!

[2021-06-26 07:25] ligi commented on #101
closed via 8c1386853301e792f798d148677812c04ff0e434

[2021-06-26 07:25] #101 closed

[2021-06-26 07:25] #93 closed

[2021-06-26 07:25] ligi commented on #93
done

[2021-06-26 07:27] ligi commented on #92
as far as I see zkSync 2.0 is compatible with RPC methods and normal keys:
https://medium.com/matter-labs/zksync-2-0-hello-ethereum-ca48588de179
So I think this can be closed as this way it is supported by KEthereum

[2021-06-26 08:02] ligi commented on #103
Thanks for raising this - I tried to avoid network/service roundtrips - but yea I should value future-compatibility more than that (especially in current times where network/service roundrips are not as expensive anymore - still being a bit too old-school here) - change contained in 8acd970 and will be released via  0.84.2 today.

[2021-06-26 08:13] #103 closed

[2021-07-03 15:43] chrishobcroft commented on #92
Agreed. Closing. Thanks.

[2021-07-03 15:43] #92 closed

[2021-07-05 21:09] Arachnid opened #104 "Multichain support for ENS resolution"
It'd be great if the ENS integration in kethereum supported resolving addresses other than Ethereum addresses, as per [EIP 2304](https://eips.ethereum.org/EIPS/eip-2304). At least Bitcoin and Bitcoin Cash support would be an amazing start.

We have a JS library that encodes and decodes different address types here, for reference: https://github.com/ensdomains/address-encoder

[2021-07-05 21:15] brantlymillegan commented on #104
@ligi thanks tagging it so fast. Given your tag "help wanted", any objections to us putting this on Gitcoin with a bounty?

[2021-07-05 21:20] ligi commented on #104
tbh I had some bad experiences with bounties in the past. If people just write code for the money it can be worse as when they actually write it with the intent to use it. This is also part of the reason why I tagged it with "help wanted". This is a functionality I do not see me using on my own - and Ideally the feature is done by someone actually having a use case for it. But I am also open to a

[2021-07-05 21:23] brantlymillegan commented on #104
Got it. Background on our request: the Bitcoin.com Wallet requested a Kotlin library from us for their ENS integration, and they support BTC, BCH, and ETH, hence our request. (right now, they're using a library maintained by Unstoppable Domains to integrate ENS, which is bad given the conflict of interest, but it supports ENS wrong anyway)

[2021-07-05 21:24] ligi commented on #104
Great to hear. So the ideal thing would be if they contribute the feature. Happy to review the PR and merge it.

[2021-07-06 11:43] ligi opened #105 "support ethereum function type"

[2021-07-06 11:44] ligi opened #106 "support ethereum fixed/ufixed type"

[2021-10-07 14:52] nschwermann opened #107 "Is there an EVM compiler for this?"
I'm just trying to understand the usecase for this library. Does this allow me to ditch solidity all together and compile evm bytecode to deploy or is this just a way to test out contract ideas?
Thanks.

[2022-02-21 00:34] mohamadrezakheradmand opened #114 "mohamadrezakheradmand"
0xc052EEc4e4875998aA099EB0619945d70042c24c

[2022-02-21 00:47] mohamadrezakheradmand opened #115 "mohamadrezakheradmand"
https://github.com/Chia-Network/chia-blockchain-gui/issues/612

[2022-02-21 00:56] mohamadrezakheradmand opened #116 "mohamadrezakheradmand"
https://github.com/ethereum-lists/chains/commit/2d67a57affb25e8e59da8dc2516d0208e3b990c4

[2022-02-21 03:37] mohamadrezakheradmand opened #117 "https://github.com/mohamadrezakheradmand/potential-octo-palm-tree/commit/2b5326b0a1e926f36ff9e75f5d10bb684683afa8"
0xc052EEc4e4875998aA099EB0619945d70042c24c

[2022-04-14 02:33] amilcar-andrade opened #121 "Question: Best way to encode a String to be 32 byte String?"
Hi, I am wondering what would be the best way or API to encode a String to be encoded to use a 32-byte String? Similar to web3js.sha3. I was looking at HexString but does not seem to do the encoding. Thanks!

[2022-05-13 00:18] mprey opened #122 "support arrays in abi code gen"

[2022-08-11 06:37] PritishSawant opened #126 "Quick getting started sample"
Hello,

Is there a quick guide to setup and how to use this lib in android? All I want to do is setup ethereal wallet and get private key to address

Thanks

[2022-08-18 07:40] ligi commented on #126
Unfortunately there is not yet - contributions welcome!

[2022-09-21 08:28] abdrasulov opened #130 "ENS resolver responds with wrong address for domain"
Trying to resolve the domain name "deepak.eth":

[code]

It responds with address `0x69c488Bcda156379B6661f08A35dB627E5D467Dd`. But the expected address is `0x6942049509693fbb63d7F1395DAe5cFE1CCEc1BA` (https://app.ens.domains/name/deepak.eth/details)

[2022-10-20 17:24] gustavo-proxy commented on #122
Any news about this?